:root {
  --accent-color: #34547a;
  --text-color: #727272;
  --second-bg: #eeeff1;
}

/* reset */
h1, h2, h3{
  margin-top: 0;
  margin-bottom: 0;

}
ul, p{
  margin-top: 0;
  margin-bottom: 0;
}

ul{
  padding-left: 0;
}

.list {
  list-style: none;
  
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.63;
  color: var(--text-color);
}

/* header */
.header{
  background-color: var(--second-bg);
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: "Revalia", cursive;
  font-size: 48px;
  line-height: 1.25;
  color: var(--accent-color);
  
}

/* nav */

.nav-menu .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.1em;
  color: #000000;
}

.link.active {
  color: var(--accent-color);
}
/* main */

/* hero */
.heroc{
  padding: 162px 405px 146px 143.1px;
}
.hero{
  background-color: var(--second-bg);
}

/* title */

.title {
  color: #000000;
}

.hero .title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.65;
}

/* button */

.hero .button{
    padding: 25px 41px;

    border: none;

    color: #ffffff;
    text-transform: uppercase;
    background-color: var(--accent-color);
    
}

.hero  p{
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 540px;
} 

/* про мене */
.tk > .title{
  margin-bottom: 50px;
  font-weight: 500px;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;

}

.about{
  padding-top: 119px;
  padding-bottom: 100px;
}

.tk{
  margin-left: auto;
  margin-right: auto;
  max-width: 540px ;
}

.tk > p{
  text-align: center;
}





.item{
  color: #ffffff;
}

.how-i-work{
  padding-top: 100px;
} 
.how-back{
  background-color: var(--second-bg);
}




.whant-ws{
  padding-top: 100px;
  padding-bottom: 515px;
}
.whant-beck{
  background-color: var(--second-bg);
}


.whant-beck .button{
  padding: 20px 49px;

  border: none;

  color: #ffffff;
  text-transform: uppercase;
  background-color: var(--accent-color);
  
}



.pictures img{
  display: block;
}
